.sticky {
	position: fixed;
	top: 0;
	left: 0;
}
/*-----------------------以上为Sticky组件默认要写的代码----------------------------------*/

* {
	margin: 0;
	padding: 0;
}
#topbar {
	background: green;
	height: 60px;
	color: white;
	text-align: center;
}
#topbar.sticky {
	width: 100%;
}
main {
	background: #ddd;
	height: 1600px;
	margin-top: 30px;
}
